# macOS
.DS_Store

# VSCode
.vscode/

# Node/npm (if ever used)
node_modules/

# Python (if ever used)
__pycache__/
*.pyc

# Logs
*.log

# Other
*.swp
*.swo

# ^ additional files & directories to ignore
.local/
*.zip